@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background:#fcfcfc;
}

#content {
	background:white;
	text-align: center;
	width:70%;
	margin:20px auto;
	padding:20px;
	top: 50%;
	left: 50%;
	border: 1px solid #e8e8e8;
	border-radius:15px;
	-webkit-box-shadow: 10px 10px 0px 0px #f0f0f0; 
	box-shadow: 10px 10px 0px 0px #f0f0f0;
}

#content .form{text-align:left;}

input[type="text"], input[type="password"],  input[type="number"] {
    border: 1px solid #e8e8e8;
	border-radius:15px;
    padding: 10px;
    margin:0 20px 20px 20px;
}

#back {	margin:20px auto; max-width:300px; text-align:center;}
#back a{text-decoration: none; color:black;}

.btn {
	width:20%;
	margin:20px 0;
    padding: 10px;
    background: #fafafa;
    border: 1px solid #e8e8e8;
    border-radius:10px;
    cursor: pointer;
}

input,
button {
    font-family: 'Roboto', sans-serif;
}
